.header {
    width: 100%;
  }
  .header-nav-logo {
    width: 20%;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
  }
  .header-nav-links-nu {
    list-style: none;
  }
  .header-nav-texto-links {
    text-align: center;
  ;
    padding: 1vh;
  }
  .header-nav-text-links {
    color: purple;
    text-decoration: none;
  }
  .header-nav-btn-login {
    background: none;
    border: none;
    border-bottom: 2px solid purple;
    width: 20vh;
    padding: 1vh 3vh;
  }
  .header-nav-login {
    color: purple;
    text-decoration: none;
  }
 
@media screen and (min-width:780px) {
    .header {
        display: flex;
        justify-content: center;
      }
      .header-nav-logo {
        width: 10%;
      }
      .header-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1vh;
      }
      .header-nav-links-nu {
        display: flex;
        list-style: none;
      }
      .header-nav-texto-links {
        text-align: center;
        padding: 1vh;
      }
      .header-nav-text-links {
        color: purple;
        text-decoration: none;
        margin:.8vh;
      }
      .header-nav-text-links:hover{
        text-decoration: underline;
        transition: 0.3ms;
      }
      .header-nav-btn-login {
        background: none;
        border: none;
        border-bottom: 2px solid purple;
        width: 20vh;
        padding: 1vh 3vh;
      }
      .header-nav-login {
        color: purple;
        text-decoration: none;
      }
      .quero_nu{
        background: var(--color2);
        color: var(--color1);
        border-radius: 3vh;
        text-decoration: none;
        padding: 1.8vh;
      }

      .quero_nu:hover{
        background: var(--color1);
        color:var(--color2) ;
      }

     

    
}